<app-header (selectFeatureEvent) = "OnSelectFeature($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
     <!-- <app-recipes *ngIf="loadFeature == 'recipe'"></app-recipes> -->
     <!-- <app-recipes *appUnless="loadFeature !== 'recipe'"></app-recipes> -->
     <!-- <app-shopping-list *ngIf="loadFeature == 'shopping-list'"></app-shopping-list>
     <app-practice *ngIf="loadFeature == 'practice'"></app-practice> -->
      <router-outlet></router-outlet>
    </div>
  </div>
  

</div>