<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="addItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-xs-5 form-group">
          <label for="name">Name</label>
          <input type="text" 
          name="name" 
          class="form-control" 
          ngModel
          required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" 
          d="amount" 
          name="amount"
          class="form-control" 
          ngModel
          required
          pattern="^[0-9]+[0-9]*$">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" [disabled] = "f.invalid" type="submit">{{editMode? 'Edit':'Add'    }}</button>
          <button class="btn btn-danger" *ngIf="this.editMode" type="button" (click)="deleteitem()">Delete</button>
          <button class="btn btn-warning" type="button" (click) = "resetForm(f)">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- <div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-5 form-group">
          <label for="name">Name</label>
          <input type="text" name="name" class="form-control" [(ngModel)]="ingredient.name">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" name="amount" class="form-control" [(ngModel)]="ingredient.amount">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
        <button class="btn btn-success" (click)="addItem()" type="button">Add</button>
        <button class="btn btn-danger" type="button">Delete</button>
        <button class="btn btn-warning" type="button">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div> -->